//! **************************************************************************
// Written by: Map M.81d on Thu Jan 15 22:01:30 2015
//! **************************************************************************

SCHEMATIC START;
COMP "oVGA_HS" LOCATE = SITE "R9" LEVEL 1;
COMP "oVGA_VS" LOCATE = SITE "T10" LEVEL 1;
COMP "iCLK_50" LOCATE = SITE "T9" LEVEL 1;
COMP "change" LOCATE = SITE "F12" LEVEL 1;
COMP "iSW" LOCATE = SITE "K13" LEVEL 1;
COMP "PS2_DAT" LOCATE = SITE "M15" LEVEL 1;
COMP "PS2_CLK" LOCATE = SITE "M16" LEVEL 1;
COMP "oVGA_B" LOCATE = SITE "R11" LEVEL 1;
COMP "oVGA_G" LOCATE = SITE "T12" LEVEL 1;
COMP "oVGA_R" LOCATE = SITE "R12" LEVEL 1;
NET "iCLK_50_BUFGP/IBUFG" BEL "iCLK_50_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

